@media screen and (max-width: 1280px) {

  header {background-position-x: 30px;}

}

@media screen and (max-width: 960px) {

  .region-header {float: none; width: 100%; padding: 0;}

  .region-primary-menu {display: block; float: none; width: 100%; height: auto; padding: 0;}

  #block-web-dev-main-menu > .menu {border-radius: 0;}

  #block-web-dev-main-menu {width: 100%;}

}

@media screen and (max-width: 800px) {

  #content {float: none; width: 100%; margin: 0; padding: 16px 35px;}

  #content h2 {margin-left: 0;}

  #sidebar-first {float: none; width: 100%; margin: 0; padding: 0;}

  .region-sidebar-first h2 {padding: 9px 4px; text-align: center;}

  .region-sidebar-first > * > *:last-child {padding: 19px 8px; text-align: center;}

  #sidebar-first .block-system-menu-blockmain {display: block;}

}

@media screen and (max-width: 640px) {

  /* --- Mobile menu --- */

  #sidebar-first {position: fixed; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; opacity: 0; margin: 0; padding: 0; overflow-x: scroll; text-align: center; transition-duration: 0.4s; transition-property: opacity;}

  #open-menu-button {display: block; position: absolute; top: 38px; right: 18px; z-index: 4; border-radius: 6px; background: #4d4f4f;}

  #content .views-row:first-child h2 {margin-right: 60px;} /* Добавляет отступ для первого заголовка на главной, чтобы на него не набегала кнопка меню */

  #content h2 {line-height: 1.4em;}

  #close-menu-button {display: block; position: absolute; z-index: 4; top: 18px; right: 18px;}

  .region-primary-menu {display: none;}

  .region-sidebar-first input[type="search"] {width: 134px; margin-left: 60px;}

  .region-sidebar-first > * > *:last-child {padding: 19px 0px;} /* Добавляет отступы внутри блоков боковой панели */

  .region-sidebar-first a {display: block;}

  #sidebar-first a, #sidebar-first h2 {transition-duration: 0.3s; transform: translateX(-100%);}

  h1 {padding: 22px 60px 22px 0;}

  /* --- End of mobile menu --- */

}


@media screen and (max-width: 480px) {

  #open-menu-button {top: 33px; right: 12px;}

  #block-web-dev-branding a {font-size: 35px;}

  #content {padding: 10px 18px; line-height: 1.7em;}

  .region-sidebar-first input[type="search"] {margin-left: 60px;}

  #block-web-dev-content footer {padding-left: 0px;}

}

@media screen and (max-width: 360px) {

  #block-web-dev-branding a {font-size: 30px;}

  .region-header {height: 110px;}

  h1 {font-size: 20px;}

  #content {padding: 10px;}

  .region-sidebar-first input[type="search"] {margin-left: 0px;}

  #block-web-dev-search {margin-right: 70px;}

  #block-web-dev-search form#search-block-form {text-align: right;}

  .field--name-field-used-in {width: 14em; padding: 5px 8px; font-size: 12px;}

  .field--name-field-used-in .field__label {font-size: 14px;}

}

@media screen and (max-width: 320px) {

  #block-web-dev-branding a {font-size: 22px;}

  .region-header {height: 92px;}

  .field--name-field-used-in {float: none; width: 90%; margin: 10px auto 0 auto;}

}
